<!DOCTYPE html>
<html>
<head>
  <title>Tori Wood | Web Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<div id="wrapper">

	<nav class="fixed-nav-bar">

		<div class="nav">
			<div class="nav-links">
				<%= link_to image_tag("logo-small.png"), root_path, id: "logo-nav" %>
			<ul>
				<li><%= link_to "WORK", projects_path %></li>
				<li><%= link_to "BLOG", posts_path %></li>
				<li><%= link_to "ABOUT", "/" %></li>
			</ul>
		</div>

			<%= mail_to "victoria.ashley.wood@gmail.com", image_tag("social-gmail.png"), class: "social morph" %> 

			<%= link_to image_tag("social-facebook.png"), "https://www.facebook.com/tor.wood", target: "_blank", class: "social morph" %> 
			
			<%= link_to image_tag("social-stackexchange.png"), "http://stackoverflow.com/users/5674829/tori-w?tab=profile", target: "_blank", class: "social morph" %> 

			<%= link_to image_tag("social-github.png"), "https://github.com/toriwood", target: "_blank", class: "social morph" %> 
			
		
		</div>

	</nav>


<%= yield %>

<div id="footer">

<div>Site designed and coded by &copy; Tori Wood, <%= Time.now.year %></div>

<div class="fine-print"> "<>" sign graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></div>

</div>

</div>

<div id="footer-wide">

<div>Site designed and coded by &copy; Tori Wood, <%= Time.now.year %></div>

<div class="fine-print"> "<>" sign graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></div>

</div>

</body>
</html>
